h1 {
    font-size: 50px;
    text-align: center;
  }

p {
    color: greenyellow;
  }

 .centerpiece {
  display: grid;
  place-items: center; /* Centers the grid item horizontally and vertically */
  height: 100vh;
  margin: 0;
} 

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px 8px;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ff385c;
  border-radius: 50%;
  cursor: pointer;
}

.search-icon svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}